.equipo{
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center; 
    font-size: 32px;
    position: relative;
}

.input-color{
    position: absolute;
    top: 20px;
    right: 50px; /*right derecha*/
}

.equipo h3{
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid; /*Para el subrayado en el titulo, la raya debajo del titulo*/
    display: inline-block; /*para que la linea ocupe solo el tamanio dedel titulo y no ocupe toda la pantalla */
    padding-bottom: 8px;
}

.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /*para acomodar en este caso las imagenes, si son muchas y no alcanza una sola linea, se crea una nueva abajo acomodando eñl contenido para que se vea mejor*/
}